<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>{{'about'|translate}} </h4>
        <p>{{'footeraboutus'|translate}}</p>
      </div>
      <div class="col-md-3">
        <h4>{{'relatedLinks'|translate}}</h4>
        <li><i class="fas fa-genderless"></i>{{'officalsite'|translate}}</li>
        <li><i class="fas fa-genderless"></i>{{'creativemarket'|translate}}</li>
        <li><i class="fas fa-genderless"></i>{{'materizer'|translate}}</li>
        <li><i class="fas fa-genderless"></i>{{'electronic'|translate}}</li>
      </div>
      <div class="col-md-3">
        <h4>{{'newandmedia'|translate}}</h4>
        <li><i class="fas fa-genderless"></i>{{'events'|translate}}</li>
        <li><i class="fas fa-genderless"></i>{{'press'|translate}}</li>
        <li><i class="fas fa-genderless"></i>{{'interview'|translate}}</li>
        <li><i class="fas fa-genderless"></i>{{'subscribe'|translate}}</li>
         <li><i class="fas fa-genderless"></i>{{'was'|translate}}</li>
      </div>
      <div class="col-md-3">
        <h4>{{'getintouch'|translate}}</h4>
        <p>{{'getintouchpara'|translate}}</p>
      </div>
    </div>
  </div>
</footer>