@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.footer {
  background-color: $darkBlack;
  color: $whiteColor;
  @extend %sectionPadding;
  h4 {
    color: $blueColor;
  }
  li,
  p {
    list-style: none;
    color: $grayColor;
  }
  i {
    color: $blueColor;
    padding-right: 5px;
  }
  
}

.text-md-right{
  padding-left: 12px;
}
