
<section class="container">
  <section class="sectionForm">
    <div class="sectionHeader">
      <h4>{{'contact' | translate}}</h4>
    </div>
    <form>
      <div class="form-row">
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="{{'firstname'|translate}}">
        </div>
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="{{'lastname'|translate}}">
        </div>
      </div>
    </form>
    <form>
      <div class="form-row">
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="{{'youremail'|translate}}">
        </div>
        <div class="col-md-6 col-12">
          <input type="text" class="form-control" placeholder="{{'website'|translate}}">
        </div>
      </div>

    </form>
    <textarea class="col-12">{{'message'|translate}}</textarea>
    <button>{{'send'|translate}}</button>
  </section>
</section>