<div class="parent">
  <div class="section1">
    <div class="section1Content text-center ">
     <div class="row">
      <div class="col-md-6 col-12 offset-3">
      <h1>{{'goahead'|translate}}</h1>
      <p>{{'blogbody'|translate}}</p>
      <button>{{'about'|translate}}</button>
    </div>
    </div>
    </div>
    <div class="color-overlay"></div>
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <img src="assets/images/flowersnew.jpg" class="d-block w-100 thumnail img-fluid img-responsive" alt="...">
        </div>
        <div class="carousel-item" data-interval="2000">
          <img src="assets/images/flower2new.jpg" class="d-block w-100 thumnail img-fluid img-responsive" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="section2 ">
    <div class="container">
        <div class="sectionHeader">
            <h4>{{'category'|translate}}</h4>
          </div>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <i class="fas fa-flag"></i>
            <div class="card-body">
              <h5 class="card-title">{{'servicetitleone'|translate}}</h5>
              <p class="card-text">{{'servicebodyone'|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <i class="fab fa-accusoft"></i>
            <div class="card-body">
              <h5 class="card-title">{{'servicetitletwo'|translate}}</h5>
              <p class="card-text">{{'servicebodytwo'|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <i class="fas fa-box"></i>
            <div class="card-body">
              <h5 class="card-title">{{'servicetitlethree'|translate}}</h5>
              <p class="card-text">{{'servicebodythree'|translate}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row  text-center">
        <div class=" col-md-4">
          <div class="card" style="width: 18rem;">
            <i class="fas fa-cannabis"></i>
            <div class="card-body">
              <h5 class="card-title">{{'servicetitlefour'|translate}}</h5>
              <p class="card-text">{{'servicebodyfour'|translate}}</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class="card" style="width: 18rem;">
            <i class="fas fa-carrot"></i>
            <div class="card-body">
              <h5 class="card-title">{{'servicetitlefive'|translate}}</h5>
              <p class="card-text">{{'servicebodyfive'|translate}}</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class="card" style="width: 18rem;">
            <i class="fas fa-brain"></i>
            <div class="card-body">
              <h5 class="card-title">{{'servicetitlesix'|translate}}</h5>
              <p class="card-text">{{'servicebodysix'|translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section3 ">
    <div class="container">
      <div class="sectionHeader">
        <h4>{{'recentposts'|translate}}</h4>
      </div>
      <div class="row text-center">
        <div class="col-md-12 heroSlider-fixed">
          <div class="overlay">
          </div>
          <!-- Slider -->
          <div class="slider responsive">
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid " src="assets/images/sky.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid" src="assets/images/spider.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid" src="assets/images/bridge.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid" src="assets/images/tower.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid" src="assets/images/spider.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid" src="assets/images/sky.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid" src="assets/images/bridge.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="hovereffect">
                <img class="img-responsive img-fluid" src="assets/images/tower.png" alt="">
                <div class="overlay">
                  <div class="rotate">
                    <p class="group1">
                      <a href="#">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>
                    <hr>
                    <hr>
                    <p class="group2">
                      <a href="#">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#">
                        <i class="fas fa-envelope"></i>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- control arrows -->
          <div class="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </div>
          <div class="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>